<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/jquery/jquery-1.11.1-min.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
    <title>工作台</title>

</head>
<body>
<img src="/static/image/home.png" th:src="@{/static/image/home.png}" style="position: relative;top: -10px; left: -10px;"/>
</body>
</html>