<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="../../../static/jquery/bootstrap_3.3.0/css/bootstrap.min.css"
          th:href="@{/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>

    <style type="text/css">
        .mystage {
            font-size: 20px;
            vertical-align: middle;
            cursor: pointer;
        }

        .closingDate {
            font-size: 15px;
            cursor: pointer;
            vertical-align: middle;
        }
    </style>

    <script type="text/javascript" src="../../../static/jquery/jquery-1.11.1-min.js"
            th:src="@{/static/jquery/jquery-1.11.1-min.js}"></script>
    <script type="text/javascript" src="../../../static/jquery/bootstrap_3.3.0/js/bootstrap.min.js"
            th:src="@{/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">

        //默认情况下取消和保存按钮是隐藏的
        var cancelAndSaveBtnDefault = true;

        $(function () {
            $("#remark").focus(function () {
                if (cancelAndSaveBtnDefault) {
                    //设置remarkDiv的高度为130px
                    $("#remarkDiv").css("height", "130px");
                    //显示
                    $("#cancelAndSaveBtn").show("2000");
                    cancelAndSaveBtnDefault = false;
                }
            });

            $("#cancelBtn").click(function () {
                //显示
                $("#cancelAndSaveBtn").hide();
                //设置remarkDiv的高度为130px
                $("#remarkDiv").css("height", "90px");
                cancelAndSaveBtnDefault = true;
            });

            $(".remarkDiv").mouseover(function () {
                $(this).children("div").children("div").show();
            });

            $(".remarkDiv").mouseout(function () {
                $(this).children("div").children("div").hide();
            });

            $(".myHref").mouseover(function () {
                $(this).children("span").css("color", "red");
            });

            $(".myHref").mouseout(function () {
                $(this).children("span").css("color", "#E6E6E6");
            });

            //阶段提示框
            $(".mystage").popover({
                trigger: 'manual',
                placement: 'bottom',
                html: 'true',
                animation: false
            }).on("mouseenter", function () {
                var _this = this;
                $(this).popover("show");
                $(this).siblings(".popover").on("mouseleave", function () {
                    $(_this).popover('hide');
                });
            }).on("mouseleave", function () {
                var _this = this;
                setTimeout(function () {
                    if (!$(".popover:hover").length) {
                        $(_this).popover("hide")
                    }
                }, 100);
            });

            $("#history-table").load("loadHistory?id=" + /*[[${tran.id}]]*/ null);
        });


    </script>

</head>
<body>

<!-- 返回按钮 -->
<div style="position: relative; top: 35px; left: 10px;">
    <a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left"
                                                                         style="font-size: 20px; color: #DDDDDD"></span></a>
</div>

<!-- 大标题 -->
<div style="position: relative; left: 40px; top: -30px;">
    <div class="page-header">
        <h3><span th:text="${tran.name}">动力节点-交易01</span> <small>￥<span th:text="${tran.money}">5,000</span></small>
        </h3>
    </div>
    <div style="position: relative; height: 50px; width: 250px;  top: -72px; left: 700px;">
        <button type="button" class="btn btn-default" onclick="window.location.href='edit.html';"><span
                class="glyphicon glyphicon-edit"></span> 编辑
        </button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> 删除</button>
    </div>
</div>

<div id="detail-form" th:fragment="detail-form">
    <!-- 阶段状态 -->
    <div style="position: relative; left: 40px; top: -50px;">
        阶段&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span th:each="s:${application.stageList}">
        <span th:if="${application.possibilityMap.get(tran.stage)} == '0'">
            <span th:if="${tran.stage != s.value} and ${application.possibilityMap.get(s.value)} != '0'"
                  th:class="'glyphicon glyphicon-record mystage'"
                  data-toggle="popover" data-placement="bottom" style="color: #000000;"
                  th:data-content="${s.value}" th:onclick="changeState([[${tran.id}]], [[${s.value}]])"></span>
            <span th:if="${tran.stage == s.value}"
                  th:class="'glyphicon glyphicon-remove mystage'"
                  data-toggle="popover" data-placement="bottom" style="color: #FF0000;"
                  th:data-content="${s.value}" th:onclick="changeState([[${tran.id}]], [[${s.value}]])"></span>
            <span th:if="${tran.stage != s.value} and ${application.possibilityMap.get(s.value)} == '0'"
                  th:class="'glyphicon glyphicon-remove mystage'"
                  data-toggle="popover" data-placement="bottom" style="color: #000000;"
                  th:data-content="${s.value}" th:onclick="changeState([[${tran.id}]], [[${s.value}]])"></span>
        </span>
        <span th:if="${application.possibilityMap.get(tran.stage)} != '0'">
            <span th:if="${tran.stage > s.value} and ${application.possibilityMap.get(s.value)} != '0'"
                  th:class="'glyphicon glyphicon-record mystage'"
                  data-toggle="popover" data-placement="bottom" style="color: #90F790;"
                  th:data-content="${s.value}" th:onclick="changeState([[${tran.id}]], [[${s.value}]])"></span>
            <span th:if="${tran.stage == s.value}"
                  th:class="'glyphicon glyphicon-map-marker mystage'"
                  data-toggle="popover" data-placement="bottom" style="color: #90F790;"
                  th:data-content="${s.value}" th:onclick="changeState([[${tran.id}]], [[${s.value}]])"></span>
            <span th:if="${tran.stage < s.value} and ${application.possibilityMap.get(s.value)} != '0'"
                  th:class="'glyphicon glyphicon-record mystage'"
                  data-toggle="popover" data-placement="bottom" style="color: #000000;"
                  th:data-content="${s.value}" th:onclick="changeState([[${tran.id}]], [[${s.value}]])"></span>
            <span th:if="${tran.stage != s.value} and ${application.possibilityMap.get(s.value)} == '0'"
                  th:class="'glyphicon glyphicon-remove mystage'"
                  data-toggle="popover" data-placement="bottom" style="color: #000000;"
                  th:data-content="${s.value}" th:onclick="changeState([[${tran.id}]], [[${s.value}]])"></span>
        </span>
         -----------
    </span>
        <span class="closingDate" th:text="${tran.expectedDate}">2010-10-10</span>
        <script type="text/javascript">
            function changeState(id, stage) {
                $.ajax({
                    url: "changeStage",
                    type: "post",
                    data: {
                        id: id,
                        stage: stage
                    },
                    success: function (data) {
                        $("#detail-form").html(data);
                        $("#history-table").load("loadHistory?id=" + id);
                    }
                })
            }
        </script>
    </div>

    <!-- 详细信息 -->
    <div style="position: relative; top: 0px;" th:object="${tran}">
        <div style="position: relative; left: 40px; height: 30px;">
            <div style="width: 300px; color: gray;">所有者</div>
            <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b><span
                    th:text="*{owner}">zhangsan</span></b></div>
            <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">金额</div>
            <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b><span
                    th:text="*{money}">5,000</span></b>
            </div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 10px;">
            <div style="width: 300px; color: gray;">名称</div>
            <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b><span
                    th:text="*{name}">动力节点-交易01</span></b></div>
            <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">预计成交日期</div>
            <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b><span th:text="*{expectedDate}">2017-02-07</span></b>
            </div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 20px;">
            <div style="width: 300px; color: gray;">客户名称</div>
            <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b><span
                    th:text="*{customerId}">动力节点</span></b></div>
            <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">阶段</div>
            <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b><span
                    th:text="*{stage}">谈判/复审</span></b>
            </div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 30px;">
            <div style="width: 300px; color: gray;">类型</div>
            <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b><span th:text="*{type}">新业务</span></b>
            </div>
            <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">可能性</div>
            <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b><span
                    th:id="detail-possibility-+*{id}">90</span></b></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 40px;">
            <div style="width: 300px; color: gray;">来源</div>
            <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b><span
                    th:text="*{source}">广告</span></b></div>
            <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">市场活动源</div>
            <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b><span
                    th:text="*{activityId}">发传单</span></b></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 50px;">
            <div style="width: 300px; color: gray;">联系人名称</div>
            <div style="width: 500px;position: relative; left: 200px; top: -20px;"><b><span
                    th:text="*{contactsId}">李四</span></b></div>
            <div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 60px;">
            <div style="width: 300px; color: gray;">创建者</div>
            <div style="width: 500px;position: relative; left: 200px; top: -20px;"><b><span
                    th:text="*{createBy}">zhangsan</span>&nbsp;&nbsp;</b><small
                    style="font-size: 10px; color: gray;"><span
                    th:text="*{createTime}">2017-01-18 10:10:10</span></small>
            </div>
            <div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 70px;">
            <div style="width: 300px; color: gray;">修改者</div>
            <div style="width: 500px;position: relative; left: 200px; top: -20px;"><b><span
                    th:text="*{editBy}">zhangsan</span>&nbsp;&nbsp;</b><small
                    style="font-size: 10px; color: gray;"><span th:text="*{editTime}">2017-01-19 10:10:10</span></small>
            </div>
            <div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 80px;">
            <div style="width: 300px; color: gray;">描述</div>
            <div style="width: 630px;position: relative; left: 200px; top: -20px;">
                <b><span th:text="*{description}">
                这是一条线索的描述信息 （线索转换之后会将线索的描述转换到交易的描述中）
            </span></b>
            </div>
            <div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 90px;">
            <div style="width: 300px; color: gray;">联系纪要</div>
            <div style="width: 630px;position: relative; left: 200px; top: -20px;">
                <b>
                    <span th:text="*{contactSummary}"></span>&nbsp;
                </b>
            </div>
            <div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
        <div style="position: relative; left: 40px; height: 30px; top: 100px;">
            <div style="width: 300px; color: gray;">下次联系时间</div>
            <div style="width: 500px;position: relative; left: 200px; top: -20px;"><b><span
                    th:text="*{nextContactTime}"></span>&nbsp;</b></div>
            <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px;"></div>
        </div>
        <script type="text/javascript" th:inline="javascript">
            let stage = /*[[*{stage}]]*/;
            /*[# th:each="p : ${application.possibilityMap}"]*/
            if (stage === /*[[${p.key}]]*/) {
                $("#detail-possibility-" + /*[[*{id}]]*/).text(/*[[${p.value}]]*/);
            }
            /*[/]*/
        </script>
    </div>
</div>

<!-- 备注 -->
<div style="position: relative; top: 100px; left: 40px;">
    <div class="page-header">
        <h4>备注</h4>
    </div>

    <!-- 备注1 -->
    <div class="remarkDiv" style="height: 60px;">
        <img title="zhangsan" src="../../../static/image/user-thumbnail.png"
             th:src="@{/static/image/user-thumbnail.png}" style="width: 30px; height:30px;">
        <div style="position: relative; top: -40px; left: 40px;">
            <h5>哎呦！</h5>
            <font color="gray">交易</font> <font color="gray">-</font> <b>动力节点-交易01</b> <small style="color: gray;">
            2017-01-22 10:10:10 由zhangsan</small>
            <div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
                <a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-edit"
                                                                   style="font-size: 20px; color: #E6E6E6;"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-remove"
                                                                   style="font-size: 20px; color: #E6E6E6;"></span></a>
            </div>
        </div>
    </div>

    <!-- 备注2 -->
    <div class="remarkDiv" style="height: 60px;">
        <img title="zhangsan" src="../../../static/image/user-thumbnail.png"
             th:src="@{/static/image/user-thumbnail.png}" style="width: 30px; height:30px;">
        <div style="position: relative; top: -40px; left: 40px;">
            <h5>呵呵！</h5>
            <font color="gray">交易</font> <font color="gray">-</font> <b>动力节点-交易01</b> <small style="color: gray;">
            2017-01-22 10:20:10 由zhangsan</small>
            <div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
                <a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-edit"
                                                                   style="font-size: 20px; color: #E6E6E6;"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-remove"
                                                                   style="font-size: 20px; color: #E6E6E6;"></span></a>
            </div>
        </div>
    </div>

    <div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
        <form role="form" style="position: relative;top: 10px; left: 10px;">
            <textarea id="remark" class="form-control" style="width: 850px; resize : none;" rows="2"
                      placeholder="添加备注..."></textarea>
            <p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
                <button id="cancelBtn" type="button" class="btn btn-default">取消</button>
                <button type="button" class="btn btn-primary">保存</button>
            </p>
        </form>
    </div>
</div>

<!-- 阶段历史 -->
<div>
    <div style="position: relative; top: 100px; left: 40px;">
        <div class="page-header">
            <h4>阶段历史</h4>
        </div>
        <div style="position: relative;top: 0px;">
            <div id="history-table" th:fragment="history-table">
                <table id="activityTable" class="table table-hover" style="width: 900px;">
                    <thead>
                    <tr style="color: #B3B3B3;">
                        <td>阶段</td>
                        <td>金额</td>
                        <td>可能性</td>
                        <td>预计成交日期</td>
                        <td>创建时间</td>
                        <td>创建人</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tranHistory:${tranHistoryList}" th:object="${tranHistory}">
                        <td th:text="*{stage}">资质审查</td>
                        <td th:text="*{money}">5,000</td>
                        <td><span th:id="history-possibility-+*{id}">10</span></td>
                        <td th:text="*{expectedDate}">2017-02-07</td>
                        <td th:text="*{createTime}">2016-10-10 10:10:10</td>
                        <td th:text="*{createBy}">zhangsan</td>
                        <script type="text/javascript" th:inline="javascript">
                            let stage = /*[[*{stage}]]*/;
                            /*[# th:each="p : ${application.possibilityMap}"]*/
                            if (stage === /*[[${p.key}]]*/) {
                                $("#history-possibility-" + /*[[*{id}]]*/).text(/*[[${p.value}]]*/);
                            }
                            /*[/]*/
                        </script>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div style="height: 200px;"></div>

</body>
</html>